@model List<MVCreview.Models.ShoppingCartViewModel>
@{
    ViewBag.Title = "Shopping Cart";
}

<h2>Shopping Cart</h2>

@Html.AntiForgeryToken()
<div class="form-horizontal">
    <table class="table">

        @foreach (var item in Model)
        {            
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.dishID)
                </td>     
                <td>
                    @Html.DisplayFor(modelItem =>item.quantity)
                </td>   
                                   
            </tr>
            
        }

    </table>
    @using (Html.BeginForm("CheckOut", "ShoppingCart"))
    {
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Check out" class="btn btn-default" style="background-color:#00ff21" />
            </div>
        </div>
    }
</div>


